[Unit]
Description=Sahara API Server
After=syslog.target network.target

[Service]
Type=simple
User=sahara
ExecStart=/usr/bin/sahara-api --config-file /etc/sahara/sahara.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
