[Unit]
Description=OpenStack Senlin Health Manager Server
After=syslog.target network.target

[Service]
Type=simple
User=senlin
ExecStart=/usr/bin/senlin-health-manager --config-file /usr/share/senlin/senlin-dist.conf --config-file /etc/senlin/senlin.conf --logfile /var/log/senlin/senlin-health-manager.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
