[Unit]
Description=OpenStack Vitrage SNMP parsing service
After=syslog.target network.target

[Service]
Type=simple
User=vitrage
ExecStart=/usr/bin/vitrage-snmp-parsing --logfile /var/log/vitrage/snmp-parsing.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

