[Unit]
Description=OpenStack Designate Sink service
After=syslog.target network.target

[Service]
Type=simple
User=designate
ExecStart=/usr/bin/designate-sink --config-file /etc/designate/designate.conf --log-file /var/log/designate/sink.log
PrivateTmp=true
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
