[Unit]
Description=OpenStack Designate Mini DNS service
After=syslog.target network.target

[Service]
Type=simple
User=designate
ExecStart=/usr/bin/designate-mdns --config-file /etc/designate/designate.conf --log-file /var/log/designate/mdns.log
PrivateTmp=true
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
