[Unit]
Description=Mistral Event Engine Server
After=syslog.target network.target

[Service]
Type=simple
User=mistral
ExecStart=/usr/bin/mistral-server --config-file=/etc/mistral/mistral.conf --log-file=/var/log/mistral/event-engine.log --server=event-engine
Restart=on-failure

[Install]
WantedBy=multi-user.target
