[Unit]
Description=Mistral Executor Server
After=syslog.target network.target

[Service]
Type=simple
User=mistral
ExecStart=/usr/bin/mistral-server --config-file=/etc/mistral/mistral.conf --log-file=/var/log/mistral/executor.log --server=executor
Restart=on-failure

[Install]
WantedBy=multi-user.target
