[Unit]
Description=OpenStack Alarm listener service
After=syslog.target network.target

[Service]
Type=simple
User=aodh
ExecStart=/usr/bin/aodh-listener --logfile /var/log/aodh/listener.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

