[Unit]
Description=OpenStack Alarm notifier service
After=syslog.target network.target

[Service]
Type=simple
User=aodh
ExecStart=/usr/bin/aodh-notifier --logfile /var/log/aodh/notifier.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

