[Unit]
Description=OpenStack Heat API Service
After=syslog.target network.target

[Service]
Type=simple
User=heat
ExecStart=/usr/bin/heat-api --config-file /usr/share/heat/heat-dist.conf --config-file /etc/heat/heat.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
