[Unit]
Description=OpenStack ceilometer polling agent
After=syslog.target network.target

[Service]
Type=simple
User=ceilometer
ExecStart=/usr/bin/ceilometer-polling --logfile /var/log/ceilometer/polling.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

