[Unit]
Description=OpenStack ceilometer central agent
After=syslog.target network.target

[Service]
Type=simple
User=ceilometer
ExecStart=/usr/bin/ceilometer-polling --polling-namespaces central --logfile /var/log/ceilometer/central.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

